<ul>
  <li>
    <%= link_to 'Home', '/' %>
  </li>
  <li style="float:right;">
    <%= link_to 'Signup', '/signup' %>
  </li>
</ul>
<h1>Login</h1>
<%= form_tag '/login' do %>
  <p>
    <label><b>Email</b></label><br>
    <%= text_field_tag :email %>
  </p>
  <p>
    <label><b>Password</b></label><br>
    <%= password_field_tag :password %>
  </p>
  <p>
    <%= submit_tag "Submit" %>
  </p>
<% end %>
