<ul>
  <li>
    <%= link_to 'Home', '/' %>
  </li>
  <% if current_user %>
    <li>
      <%= link_to "Submit", '/articles/new' %>
    </li>
  <% end %>
  <% if current_user %>
    <li style="float:right;">
      <%= link_to "Logout", '/logout' %>
    </li>
    <li style="float:right;">
      <span>Signed in as <%= current_user.name %></span>
    </li>
  <% else %>
    <li style="float:right;">
      <%= link_to 'Signup', '/signup' %>
    </li>
    <li style="float:right;">
      <%= link_to 'Login', '/login' %>
    </li>

  <% end %>
</ul>
<div class="articles">
<table class="articles">
  <% @articles.first(30).each do |article| %>
    <tr>
      <td>
        <%= link_to "#{article.title}", article_path(article) %>
        (<%= article.source %>)
      </td>
    </tr>
    <tr>
      <td style="float: left;">Upvotes: 
        <%if article.votes.group(:value).count[1] %>
          <%= article.votes.group(:value).count[1] %>
        <%else%>
          0
        <%end%>
      </td>
      <td style="float: left;">&emsp;Downvotes: 
        <%if article.votes.group(:value).count[0] %>
          <%= article.votes.group(:value).count[0] %>
        <%else%>
          0
        <%end%>
      </td>
      <td style="float: left;">&emsp;Comments:
        <%= article.comments.count %>
      </td>
      <td style="float: right;">
        Created by
        <%= User.find_by_id(article.user_id).name %>
      </td>
    </tr>

  <% end %>
</table>
</div>
