<ul>
  <li>
    <%= link_to 'Home', '/' %>
  </li>
  <% if current_user %>
    <li>
      <%= link_to "Submit", '/articles/new' %>
    </li>
  <% end %>
  <% if current_user %>
    <li style="float:right;">
      <%= link_to "Logout", '/logout' %>
    </li>
    <li style="float:right;">
      <span>Signed in as <%= current_user.name %></span>
    </li>
  <% else %>
    <li style="float:right;">
      <%= link_to 'Signup', '/signup' %>
    </li>
    <li style="float:right;">
      <%= link_to 'Login', '/login' %>
    </li>
  <% end %>
</ul>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Source:</strong>
  <%= @article.source %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<p>
  <strong>User:</strong>
  <%= @article.user_id %>
</p>

<p>
  <strong>Upvotes:</strong>
  <%if @article.votes.group(:value).count[1] %>
    <%= @article.votes.group(:value).count[1] %>
  <%else%>
    0
  <%end%>
</p>

<p>
  <strong>Downvotes:</strong>
  <%if @article.votes.group(:value).count[0] %>
    <%= @article.votes.group(:value).count[0] %>
  <%else%>
    0
  <%end%>
</p>

<p>
  <strong>Number of Comments:</strong>
  <%if @article.comments.count %>
    <%= @article.comments.count %>
  <%else%>
    0
  <%end%>
</p>
<%= link_to 'UpVote',  [@article, @article.votes.build, :vote_value => 1], method: :post %>
<%= link_to 'DownVote',  [@article, @article.votes.build, :vote_value => 0], method: :post %>

<h2>Comments</h2>
<% @article.comments.each do |comment| %>
  <p>
  <strong>Comment:</strong>
  <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
  <%= f.label :body %><br>
  <%= f.text_area :body %>
  </p>
  <p>
  <%= f.submit %>
  </p>
<% end %>


<%= link_to 'Back', articles_path %>
