<ul>
  <li>
    <%= link_to 'Home', '/' %>
  </li>
  <% if current_user %>
    <li>
      <%= link_to "Submit", '/articles/new' %>
    </li>
  <% end %>
  <% if current_user %>
    <li style="float:right;">
      <%= link_to "Logout", '/logout' %>
    </li>
    <li style="float:right;">
      <span>Signed in as <%= current_user.name %></span>
    </li>
  <% else %>
    <li style="float:right;">
      <%= link_to 'Signup', '/signup' %>
    </li>
    <li style="float:right;">
      <%= link_to 'Login', '/login' %>
    </li>
  <% end %>
</ul>

<table class="articles">
  <tr>
    <td>
      <%= @article.title %>
    </td>
  </tr>
  <tr>
    <td>
      <%= @article.text %>
    </td>
  </tr>
  <tr>
    <td style="float: left;">
      Source: 
      <%= @article.source %>
    </td>
    <td style="float: right;">
      Created by: 
      <%= User.find_by_id(@article.user_id).name %>
    </td>
  </tr>
  <tr>
    <td>
      (
      <%if @article.votes.group(:value).count[1] %>
        <%= @article.votes.group(:value).count[1] %>
      <%else%>
        0
      <%end%>
      )
      <%= link_to "UpVote",  [@article, @article.votes.build, :vote_value => 1], method: :post %>
      &emsp;(
      <%if @article.votes.group(:value).count[0] %>
        <%= @article.votes.group(:value).count[0] %>
      <%else%>
        0
      <%end%>
      )
      <%= link_to "DownVote",  [@article, @article.votes.build, :vote_value => 0], method: :post %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Comments</strong>
    </td>
  </tr>
  <% @article.comments.each do |comment| %>
    <tr>
      <td>
        <%= comment.body %>
      </td>
    </tr>
    <tr>
      <td>
        Created by: 
        <%= User.find_by_id(@article.user_id).name %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td>
      <strong>Add a comment</strong>
    </td>
  </tr>
  <tr>
    <td>
      <%= form_for([@article, @article.comments.build]) do |f| %>
        <%= f.text_area :body %><br>
        <%= f.submit %>
      <% end %>
    </td>
  </tr>
</table>
