<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Source:</strong>
  <%= @article.source %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<p>
  <strong>User:</strong>
  <%= @article.user_id %>
</p>

<%= link_to 'UpVote',  [@article, @article.votes.build], method: :post, :vote_value => 1 %>
<%= link_to 'DownVote',  [@article, @article.votes.build], method: :post, :vote_value => 0 %>

<h2>Comments</h2>
<% @article.comments.each do |comment| %>
  <p>
  <strong>Comment:</strong>
  <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
  <%= f.label :body %><br>
  <%= f.text_area :body %>
  </p>
  <p>
  <%= f.submit %>
  </p>
<% end %>


<%= link_to 'Back', articles_path %>
